<!-- Comments Form -->
<% if user_signed_in? %>
<!-- Comments Form -->
<div class="well">
  <h4>Leave a Comment:</h4>
  <%= form_for [@post, Comment.new] do |f| %>
  <div class="form-group">
    <%= f.text_field :content, placeholder: "Comment...", class: "form-control", required: true %>
  </div>
  <%= f.submit "Comment", class: "btn btn-primary" %>
  <% end %>
</div>
<% end %>
