  <h1>Edit Comment</h1>
    <%= form_for [@post, @comment] do |f| %>
      <div class="form-group">
        <%= f.text_field :content, label: "Comment", class: "form-control" %>
      </div>
      <%= f.button :submit, class: "btn btn-success" %>
    <% end %>
