<h1 class="page-header">
  Recently Posts
</h1>

<% @posts.each do |post| %>
  <h2>
    <%= link_to post.title, post %>
  </h2>
  <p class="lead">
    by <a href="#"><%= post.created_by %></a>
  </p>
  <p><span class="fa fa-clock-o" aria-hidden="true"></span> <%= time_ago_in_words(post.created_at) %> ago</p>
  <p><span class="fa fa-eye" aria-hidden="true"></span> <%= post.views %> views</p>
  <hr>

<% end %>
